/*      MAX'S STYLE CSS     */
.funding-header * {
  color: #f42;
  text-decoration: none;
}

.funding-article a {
  text-decoration: none;
}

.funding-header > h2 a {
  font-family: Avalon-Bold, sans-serif;
}

.funding-links {
  font-family: ARS-Marquette-Regular, Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
}

.funding-article aside a {
  font-size: 0.65rem;
  color: #888;
}

.funding-links > a:hover,
.funding-header h2 a:hover {
  color: #000;
}

.funding-article {
  font-family: ARS-Marquette-Bold, Arial, Helvetica, sans-serif;
  background-color: #fff9f2;
}

.funding-article header {
  background-image: linear-gradient(#f53 40%, #ffebe8 40%);
}

.funding-article header h5 {
  font-size: 0.5rem;
  color: #888;
}

.funding-article header a img {
  width: 3rem;
  height: 3rem;
}

.funding-article-title > h4 {
  color: #fff;
}

.funding-article-title > div h4 {
  color: #000;
}

.funding-article section a p {
  font-size: 0.7rem;
  color: #888;
}

.funding-article section a p:hover {
  color: #333;
}

.funding-article aside {
  border-top: #ffebe8 solid 3px;
}

.funding-article-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.source {
  color: #bbb;
}

/*                        MEDIA QUERIES                     */
@media screen and (min-width: 768px) {
  .funding-links {
    width: 21rem;
  }
}

/*      END OF MAX'S STYLE CSS     */
