/*      MAX'S LAYOUT CSS      */
.funding {
  display: grid;
  grid-row-gap: 10px;
}

.funding article:last-of-type {
  display: none;
}

.funding-header * {
  margin: 0;
}

.funding-header {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 1rem;
}

.funding-links {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.funding-links span {
  display: none;
}

.funding-article * {
  margin: 0;
}

.funding-article header {
  height: 5rem;
  padding: 0.6rem;
}

.funding-article header a {
  display: flex;
  height: 100%;
}

.funding-article-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.funding-article section,
.funding-article aside {
  padding: 0.5rem 1rem;
}

.funding-article section a p {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.funding-article-icon {
  margin-right: 0.5rem;
}

/*      MEDIA QUERIES     */
@media screen and (min-width: 768px) {
  .funding {
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 1rem;
  }

  .funding-article:first-of-type {
    margin-left: 1rem;
  }

  .funding-links {
    flex-direction: row;
    justify-content: space-between;
  }

  .funding-links span {
    display: inline;
  }

  .funding-header {
    grid-row: 1/2;
    grid-column: 1/5;
  }
}

@media screen and (min-width: 1024px) {
  .funding {
    grid-template-columns: repeat(4, 1fr);
  }

  .funding-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .funding article:last-of-type {
    display: unset;
    margin-right: 1rem;
  }
}

/*      END OF MAX'S LAYOUT CSS     */
