* {
  outline: none;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.page-header {
  position: sticky;
  top: 0;
  width: 100%;
}

.full-header-container {
  display: flex;
}

.header-logo {
  width: 100px;
  padding: 10px 20px;
  flex: 0 0 100px;
  z-index: 10;
}

.header-menu-wrapper {
  width: 100%;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
}

.header-nav-medium li {
  margin-right: 2rem;
}

.sub-header-nav-medium.left li {
  margin-right: 1.8rem;
}

.sub-header-nav-medium.right li {
  margin-left: 1.8rem;
}

.sub-header-nav-medium {
  display: flex;
  justify-content: space-between;
}

.main-header {
  display: flex;
}

.header-nav-medium {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1.6rem;
}

.header-icon.search {
  display: flex;
  padding: 1.6rem;
  border-left: 0.6px solid #ebebeb;
}

.header-icon img {
  width: 1.8rem;
  height: 1.7rem;
}

.header-cta {
  padding: 0.8rem 1.6rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media all and (max-width: 1024px) {
  .header-logo {
    display: flex;
  }

  .header-cta {
    padding-left: 11.5rem;
  }
}

@media all and (max-width: 840px) {
  .page-header {
    position: sticky;
    width: 100%;
    top: 0;
  }
  .sub-header-nav-medium.right {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .page-header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
  }

  .sub-header,
  .header-nav-medium {
    display: none;
  }

  .main-header {
    justify-content: flex-end;
    align-items: center;
  }

  .header-nav-small {
    display: flex;
    flex-direction: row-reverse;
  }

  .header-logo {
    height: 50px;
  }

  .header-icon {
    display: flex;
    padding: 14px;
    border-left: 0.6px solid #ebebeb;
  }

  .header-icon img {
    width: 18px;
    height: 18px;
  }

  .header-cta {
    padding: 2rem 2rem;
    text-align: center;
  }
}

/* FUNDING */
.full-page-container {
  margin: 0 8rem;
}

.funding {
  display: grid;
  grid-row-gap: 10px;
}

.funding article:last-of-type {
  display: none;
}

.funding-header * {
  margin: 0;
}

.funding-header {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 1rem;
}

.funding-links {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.funding-links span {
  display: none;
}

.funding-article * {
  margin: 0;
}

.funding-article header {
  height: 6rem;
  padding: 0.6rem;
}

.funding-article header a {
  display: flex;
  height: 100%;
}

.funding-article-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.funding-article section,
.funding-article aside {
  padding: 0.5rem 1rem;
}

.funding-article section a p {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.funding-article-icon {
  margin-right: 0.5rem;
}

/*                        MEDIA QUERIES                     */
@media screen and (min-width: 768px) {
  .funding {
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 1rem;
  }

  .funding-article:first-of-type {
    margin-left: 1rem;
  }

  .funding-links {
    flex-direction: row;
    justify-content: space-between;
  }

  .funding-links span {
    display: inline;
  }

  .funding-header {
    grid-row: 1/2;
    grid-column: 1/5;
  }
}

@media screen and (min-width: 1024px) {
  .funding {
    grid-template-columns: repeat(4, 1fr);
  }

  .funding-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .funding article:last-of-type {
    display: revert;
    margin-right: 1rem;
  }
}
