* {
  outline: none;
}

.main-header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-direction: row-reverse;
}

.header-logo {
  display: flex;
  width: 100px;
  height: 50px;
  padding: 10px 20px;
}

.header-icon {
  display: flex;
  padding: 15px;
  border-left: 0.6px solid #ebebeb;
}

.header-icon img {
  width: 21px;
  height: 21px;
}

.header-cta {
  padding: 28px 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

/*                      FUNDING                     */
.funding-header * {
  margin: 0;
}

.funding-header {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

.funding-links {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.funding-links span {
  display: none;
}

.funding-article * {
  margin: 0;
}

.funding-article {
  margin-bottom: 2rem;
}

.funding-article header {
  padding: 0.6rem;
}

.funding-article header a {
  display: flex;
}

.funding-article-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

/*                        MEDIA QUERIES                     */
@media screen and (min-width: 768px) {
  .funding-links {
    flex-direction: row;
    justify-content: space-between;
  }

  .funding-links span {
    display: inline;
  }
}

@media screen and (min-width: 1024px) {
  .funding-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .funding article:last-of-type {
    display: none;
  }
}
