* {
  outline: none;  
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.full-header-container {
  display: flex;
}

.header-logo {
  display: flex;
  width: 100px;
  padding: 10px 20px;
}

.header-menu-wrapper {
  width: 100%;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
}

.sub-header-nav-medium.left li {
  margin-right: 1.8rem;
}

.sub-header-nav-medium.right li {
  margin-left: 1.8rem;
}

.sub-header-nav-medium {
  display: flex;
  justify-content: space-between;
}

.main-header {
  display: flex;
  position: sticky;
}

.header-nav-medium {
  display: flex;
  height: 100%;  
  width: 100%;
  padding: 1.6rem;
}

.header-nav-medium li {
  margin-right: 2rem;
}

.header-icon.search {
  display: flex;
  padding: 1.6rem;
  border-left: 0.6px solid #ebebeb;
}

.header-icon img {
  width: 1.8rem;
  height: 1.7rem;
}

.header-cta {
  padding: 10px 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media all and (max-width: 768px) {

  .sub-header,
  .header-nav-medium {
    display: none;
  }

  .main-header {
    justify-content: flex-end;
    align-items: center;
  }

  .header-nav-small {
    display: flex;
    flex-direction: row-reverse;
  }

  .header-logo {
    height: 50px;
  }

  .header-icon {
    display: flex;
    padding: 14px;
    border-left: 0.6px solid #ebebeb;
  }

  .header-icon img {
    width: 18px;
    height: 18px;
  }

  .header-cta {
    padding: 20px 10px;
    text-align: center;
  }
}

@media all and (max-width: 1024px) {

}