/*      FOOTER       */
.footer-style {
    margin-top: 1rem;
    align-items: center;
    background-color: #131313;
    width: 100%;
  }
  
  .social-media {
    width: 100%;
    padding-top: 2rem;
    margin: 0 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer-links {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 1rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .copyright-text {
    font-family: ARS-Arquette-Regular, sans-serif;
    font-size: 0.8rem;
    line-height: 1.2rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    background-color: #000;
    color: #aaa;
  }