:root {
  background-color: initial;
}

* {
  background-color: initial;
}

a {
  cursor: pointer;
}

.main-header {
  background-color: #fff;
}

.header-logo {
  background: #000;
}

.header-cta {
  background: #fd3;
  font-size: 0.8rem;
}
